.page-header {
  height: 60px;
  background-color: rgba(19, 167, 221, 0.596);
  display: flex;
  flex-direction: column;
}

.page-header .top-bar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1.6rem 0;
}

.page-header .top-bar-container a {
  height: 60px;
  transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover {
  opacity: 0.6;
}

.menu {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin-right: 15px;
}

.menu-selected {
  text-decoration: none;
  color: rgba(14, 95, 125, 0.596);
  font-weight: bold;
  margin-right: 15px;
}

.back-menu {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.page-header .header-content {
  width: 100%;
  margin: 3.2rem auto;
  position: relative;
}

.page-header .header-content strong {
  font: 700 3.8rem Archivo;
  line-height: 4.2rem;
  color: #fff;
}

.page-header .header-content p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #fff;
  margin-top: 1.2rem;
}

@media (min-width: 700px) {
  .page-header {
    height: 340px;
  }

  .page-header .top-bar-container {
    max-width: 1400px;
  }

  .page-header .header-content {
    max-width: 740px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .page-header .header-content strong {
    margin-top: 2rem;
    margin-bottom: 8rem;
  }
}
